altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.3
distlib==0.3.1
Django==3.1.5
djangorestframework==3.12.2
filelock==3.0.12
future==0.18.2
gunicorn==20.0.4
idna==2.8
isort==5.5.3
lazy-object-proxy==1.4.3
mccabe==0.6.1
MouseInfo==0.1.3
notify-run==0.0.13
numpy==1.19.4
pandas==1.2.0
pause==0.3
pefile==2019.4.18
Pillow==8.0.1
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
PyMsgBox==1.0.9
pynput==1.7.2
pyperclip==1.8.1
PyQRCode==1.2.1
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2020.5
pywhatkit==3.8
pywin32-ctypes==0.2.0
requests==2.22.0
selenium==3.141.0
shortcuts==0.11.0
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
toml==0.10.1
urllib3==1.26.2
virtualenv==20.0.31
whitenoise==5.2.0
wikipedia==1.4.0
wrapt==1.12.1
